<footer class="flex justify-between p-6 font-medium">

    <h5>Ingeniería y Construcción Ricardo Rodríguez®</h5>

    <p class="text-center">Contacto: <br>
        José Manuel Infante #2629, Ñuñoa, Santiago, Chile. ; (56-2) 23641111 ; (56-2) 23633400 ; (56-2) 27560800
    </p>
</footer>