<header
    class=" flex justify-between mx-auto p-6 items-center"
>
    <a href="#">
        <img
            src="https://icrr.cl/wp-content/uploads/2024/05/LOGO-INGENIERIA-Y-CONST.png"
            alt=""
            class="w-auto h-16"
        />
    </a>

    <nav class="flex flex-row gap-x-4">
        <div class="transition ease-in-out delay-0  bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-blue-600 rounded-full px-4 py-2 text-white "><a href="#">¡Contáctanos!</a></div>
        
        <div class="transition ease-in-out delay-0 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-blue-600 rounded-full px-4 py-2 text-white "><a href="#">Sobre nosotros</a></div>
    </nav>
</header>
