<div class="text-center justify-center">
    <p>
        Ingeniería y Construcción Ricardo Rodríguez y Cía. Ltda. se ha
        especializado en la Construcción de Estaciones de Servicios, Centros de
        Salud, Centros de Estudios, Automotoras, Edificios Consistoriales,
        Centro de Bodegajes, Obras Habitacionales y Complejos Deportivos, entre
        otras obras.
    </p>
</div>
