<div class="w-full relative">
    <img
        class="absolute top-[300px] z-10 w-[500px] m-auto left-0 right-[1000px] bg-black bg-opacity-50"
        src="https://icrr.cl/wp-content/uploads/2024/05/LOGO-INGENIERIA-Y-CONST.png"
        alt=""

    />
    <video
        src="/public/prueba.mp4"
        autoplay
        loop
        muted
        class="w-full h-screen object-cover"
        style="mask-image: linear-gradient(
        black 10%,
        transparent);"
        ></video>
</div>
